<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="public_scripts" value="C:\Projects\IRC\codename_mokolo\dsl_scripts\pswincom_bot\public"/>
    <add key="rivate_scripts" value="C:\Projects\IRC\codename_mokolo\dsl_scripts\pswincom_bot\private"/>
  </appSettings>
</configuration>