<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="127.0.0.1"/>
    <add key="nick" value="PSWinBot"/>
    <add key="channel" value="#pswincom"/>
    <add key="topic" value="Talk to the PSWinCom bot to get answers to your SMS questions!"/>
    <add key="public_scripts" value="C:\Projects\codename_mokolo\dsl_scripts\pswincom_bot\public"/>
    <add key="rivate_scripts" value="C:\Projects\codename_mokolo\dsl_scripts\pswincom_bot\private"/>
  </appSettings>
</configuration>